/* El box model me permite modificar las propiedades que tiene cada elemento que sea una caja y como todas las etiquetas en html para mi navegador representan una caja, podemos aplicar a cada una de ellas BORDER, MARGIN Y PADDING */

#elemento1{
    background-color: red;
    line-height: 48px;
    border: 5px dashed black;
    margin-bottom: 50px;
}

#elemento2{
    background-color: blue;
    line-height: 18px;
    border: 5px solid black;
  padding: 15px 0px;
    margin-top: 20px;
}

