/* POSICIONAR ELEMENTOS MEDIANTE FLOAT */


/* float: right; Me permite hacer flotante el elemento a la derecha de mi pantalla. Todo el contenido que se encuentre junto a el, será desplazado a la izquierda de la pantalla si no hay algun elemento que tenga un clear a la derecha */
img{
    float: right;
    height: 150px;
}


/* float: left; Me permite hacer flotante el elemento a la izquierda de mi pantalla. Todo el contenido que se encuentre junto a el, será desplazado a la derecha de la pantalla si no hay algun elemento que tenga un clear a la izquierda */
.button{
    float: left;
    background: gray;
    font-size: 48px;
    color: white;
    padding: 3px;
    border-radius: 5px;
    border: 3px solid black;
    margin-right: 10px;
}


/* La propiedad clear me permite que un elemento no sea vea afectado por un flotante, en este caso, limpiará el flotante de la izquierda y se colocará siguiendo su flujo natural. Como es un parrafo, se comportará como un elemento en bloque y se pondrá debajo del botón. También se puede usar RIGHT (para limpiar flotante a la derecha) Y BOTH (para limpiar flotante a ambos lados) */
.clear{
    clear: left;
}


body{
    background-color: darkgray;
    margin: 0;
    padding: 0;
    height: 180vh;
    width: 240vh;
}

/* PROBAR CON STICKY Y CON FIXED PARA VER LA DIFERENCIA */

/* .padre{
    width: 300px;
    height: 300px;
    background-color: green; 
    position: sticky; 
    top:0%;
    left: 10%;
}

.hijo{
    width: 150px;
    height: 150px;
    background-color: blue;
}

.super-padre{
    background-color: aqua;
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    border: 5px solid black;
    margin: 50px;
} */


/* POSITION RELATIVE */

/* .padre{
    width: 300px;
    height: 300px;
    background-color: green;
    position: relative;
    top: 50px;
    left: 50px;
}

.hijo{
    width: 150px;
    height: 150px;
    background-color: blue;
    position: relative;
    top: 50px;
    left: 50px;
}

.padre-2{
    width: 300px;
    height: 300px;
    background-color: yellow;
    position: relative;
    
} */





/* POSITION ABSOLUTE */

/* Si el elemento padre de otro elemento hijo con position absolute tiene una posicion diferente a static, entonces el elemento hijo lo tomará como referencia para posicionarse y si este elemento padre tiene una posicion static, el elemento hijo con position absolute tomará como refrencia la parte superior izquierda del body para posicionarse */

/* PROBAR COLOCANDO UN POSICION STATIC AL PADRE */

.padre{
    width: 300px;
    height: 300px;
    background-color: green;
    position: relative;
   margin-top: 50px;
}

.hijo{
    width: 150px;
    height: 150px;
    background-color: blue;
    position: absolute;
    top: 350px;
}